<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head></head>
<body style="width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: #00404F; margin: 0; padding: 0;" bgcolor="#00404F">
<style type="text/css">
a:visited {{
color: #F4F4F4;
}}
a:hover {{
color: #F4F4F4;
}}
@media only screen and (max-width: 599px) {{
  table[class=bodytbl] .padd {{
    width: 8px !important;
  }}
  table[class=bodytbl] .wrap {{
    width: 462px !important; height: auto !important;
  }}
  table[class=bodytbl] .wrap table {{
    width: 100% !important;
  }}
  table[class=bodytbl] .wrap img {{
    max-width: 100% !important; height: auto !important;
  }}
  table[class=bodytbl] .wrap .m-padd {{
    padding: 0 20px !important;
  }}
  table[class=bodytbl] .wrap .m-auto {{
    width: auto !important;
  }}
  table[class=bodytbl] .wrap .m-100 {{
    width: 100% !important; max-width: 462px !important;
  }}
  table[class=bodytbl] .m-0 {{
    width: 0; display: none;
  }}
  table[class=bodytbl] .m-b {{
    display: block; width: 100% !important;
  }}
  table[class=bodytbl] .m-m-b {{
    margin-bottom: 8px !important;
  }}
  table[class=bodytbl] .m-h-a {{
    height: auto !important;
  }}
  table[class=bodytbl] .wrap .m-mac {{
    width: 340px !important; max-width: 340px !important; margin-left: 38px;
  }}
  table[class=bodytbl] .wrap .m-mac-t img {{
    width: 339px !important;
  }}
  table[class=bodytbl] .wrap .m-mac-h img {{
    height: 192px !important; width: 15px !important;
  }}
  table[class=bodytbl] .wrap .m-mac-i img {{
    width: 309px !important;
  }}
  table[class=bodytbl] .wrap .m-mac-b img {{
    max-width: 406px !important; margin-left: 4px;
  }}
  table[class=bodytbl] .wrap .m-1-2 {{
    width: 226px !important;
  }}
  table[class=bodytbl] .wrap .m-1-4 {{
    width: 109px !important;
  }}
  table[class=bodytbl] .wrap .m-3-4 {{
    width: 345px !important;
  }}
  table[class=bodytbl] .wrap .m-h-2 {{
    height: 226px;
  }}
  table[class=bodytbl] .wrap .preintro td {{
    height: auto; float: right;
  }}
  table[class=bodytbl] .wrap table.social {{
    float: left; width: auto !important; margin-right: 8px;
  }}
  table[class=bodytbl] .wrap table.social td.body {{
    width: 44px !important;
  }}
}}
@media only screen and (max-width: 459px) {{
  table[class=bodytbl] .wrap {{
    width: 304px !important;
  }}
  table[class=bodytbl] .wrap .m-100 {{
    max-width: 304px !important;
  }}
  table[class=bodytbl] .wrap .m-mac {{
    width: 235px !important; max-width: 235px !important; margin-left: 23px;
  }}
  table[class=bodytbl] .wrap .m-mac-t img {{
    width: 234px !important; max-width: 234px !important;
  }}
  table[class=bodytbl] .wrap .m-mac-h img {{
    height: 130px !important; width: 11px !important; max-width: 11px !important;
  }}
  table[class=bodytbl] .wrap .m-mac-i {{
    width: 212px !important; max-width: 212px !important; height: 130px !important;
  }}
  table[class=bodytbl] .wrap .m-mac-i img {{
    width: 212px !important; max-width: 212px !important; height: 130px !important;
  }}
  table[class=bodytbl] .wrap .m-mac-b img {{
    max-width: 280px !important; margin-left: 0px;
  }}
  table[class=bodytbl] .wrap .h1 div {{
    height: 34px !important; font-size: 40px !important; letter-spacing: -1px !important; line-height: 32px !important;
  }}
  table[class=bodytbl] .wrap .h2 div {{
    height: 15px !important; font-size: 12px !important; line-height: 14px !important;
  }}
  table[class=bodytbl] .wrap .h div {{
    font-size: 18px !important; letter-spacing: -1px !important; margin-bottom: 3px !important; line-height: 20px !important;
  }}
  table[class=bodytbl] .wrap .m-1-2 {{
    width: 149px !important;
  }}
  table[class=bodytbl] .wrap .m-1-4 {{
    width: 109px !important;
  }}
  table[class=bodytbl] .wrap .m-3-4 {{
    width: 288px !important;
  }}
  table[class=bodytbl] .wrap table.social td {{
    max-width: 26px !important;
  }}
}}
</style>
<table class="bodytbl" cellpadding="0" cellspacing="0" width="100%" style="width: 100% \ !important; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; -webkit-text-size-adjust: none; font-family: Helvetica,Arial,sans-serif; font-size: 12px; background: #00404F; margin: 0; padding: 0;" bgcolor="#00404F"><tbody><tr style="padding: 0;">
<td align="center" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> 
<table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody><tr height="24" style="padding: 0;">
<td align="center" valign="top" style="border-collapse: collapse; color: #EFEFEF; padding: 0;">
<div class="preheader" style="line-height: 0px; font-size: 0px; height: 0px; display: none !important; visibility: hidden; text-indent: -9999px;"><!-- PREHEADER --></div>
</td>
</tr></tbody></table>
<table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody>
<tr style="padding: 0;">
<td align="center" valign="bottom" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> 
<table class="o-fix" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody><tr style="padding: 0;">
<!-- CONTENT start --><td class="m-b" align="left" valign="bottom" width="296" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; padding: 0;"> 
<div class="h1" style="color: #F4F4F4; font-family: 'Segoe UI','Open Sans',Helvetica,Arial,sans-serif; height: 44px; font-size: 50px; letter-spacing: -1px; line-height: 45px; font-weight: 100;">
<span>Forecast</span>
</div> 
<div class="h2" style="color: #EFEFEF; font-family: 'Segoe UI','Open Sans',Helvetica,Arial,sans-serif; height: 22px; font-size: 19px; letter-spacing: -0.05em; font-weight: 100;">
<span>Temperature</span>
</div> 
</td> 
<!-- CONTENT end --> 
</tr></tbody></table>
</td> 
</tr>
<tr class="gap" height="8" style="line-height: 2px; font-size: 2px; height: 8px; padding: 0;">
<td style="border-collapse: collapse; color: #EFEFEF; padding: 0;">&nbsp;</td>
</tr>
</tbody></table>
<!-- ? header block ends here --><!-- Quotation start --><table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody>
<tr style="padding: 0;">
<td class="body" align="center" valign="top" style="border-collapse: collapse; color: #EFEFEF; background: #61BC0F; padding: 0;" bgcolor="#61BC0F"> 
<table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody>
<tr height="16" style="padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;"></td></tr>
<tr style="padding: 0;">
<td class="padd" width="16" style="border-collapse: collapse; color: #EFEFEF; width: 16px; padding: 0;">&nbsp;</td> <!-- CONTENT start --> 
<td align="left" valign="top" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> 
<div class="h2" style="color: #EFEFEF; font-family: 'Segoe UI','Open Sans',Helvetica,Arial,sans-serif; height: 22px; font-size: 19px; letter-spacing: -0.05em; font-weight: 100;"><span>Temperature in</span></div> <h1 style="font-family: Helvetica,Arial,sans-serif; font-size: 30px; letter-spacing: -2px; line-height: 30px; font-weight: 100; margin: 0;"><span>Rovaniemi</span></h1> </td> <td class="m-1-4" align="right" valign="bottom" width="296" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> <div class="small" style="font-size: 11px; line-height: 16px;">
<span><a href="http://www.wolframalpha.com/input/?i=temperature+Rovaniemi+Finland" style="color: #F4F4F4; text-decoration: none; font-weight: bold; padding: 2px 0px;">view it online</a></span>
</div> 
</td> <!-- CONTENT end --> 
<td class="padd" width="16" style="border-collapse: collapse; color: #EFEFEF; width: 16px; padding: 0;">&nbsp;</td> </tr>
<tr height="16" style="padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;"></td></tr>
</tbody></table>
</td> </tr>
<tr class="gap" height="8" style="line-height: 2px; font-size: 2px; height: 8px; padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;">&nbsp;</td></tr>
</tbody></table>
<!-- Quotation end --><!-- Full Size Image start --><table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody>
<tr style="padding: 0;">
<td valign="top" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> <!-- CONTENT start --> <img src="{0}" class="m-100" alt="" title="" style="max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; display: block;" border="0" width="600"><!-- CONTENT end -->
</td> </tr>
<tr class="gap" height="8" style="line-height: 2px; font-size: 2px; height: 8px; padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;">&nbsp;</td></tr>
</tbody></table>
<!-- Full Size Image end --><!-- 1/2 Column start --><table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody><tr style="padding: 0;">
<td align="center" valign="top" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> 
<table class="o-fix" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody><tr style="padding: 0;">
<td align="left" valign="top" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; padding: 0;"> 

<!-- CONTENT end --> </td> </tr></tbody></table>
</td> </tr></tbody></table>
<table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody>
<tr style="padding: 0;">
<td class="body" align="center" valign="top" style="border-collapse: collapse; color: #EFEFEF; background: #61BC0F; padding: 0;" bgcolor="#61BC0F"> 
<table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody>
<tr height="16" style="padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;"></td></tr>
<tr style="padding: 0;">
<td class="padd" width="16" style="border-collapse: collapse; color: #EFEFEF; width: 16px; padding: 0;">&nbsp;</td> <!-- CONTENT start --> 
<td align="left" valign="top" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> 
<div class="h2" style="color: #EFEFEF; font-family: 'Segoe UI','Open Sans',Helvetica,Arial,sans-serif; height: 22px; font-size: 19px; letter-spacing: -0.05em; font-weight: 100;"><span>Temperature in</span></div> <h1 style="font-family: Helvetica,Arial,sans-serif; font-size: 30px; letter-spacing: -2px; line-height: 30px; font-weight: 100; margin: 0;"><span>Oulu</span></h1> </td> <td class="m-1-4" align="right" valign="bottom" width="296" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> <div class="small" style="font-size: 11px; line-height: 16px;">
<span><a href="http://www.wolframalpha.com/input/?i=temperature+Oulu+Finland" style="color: #F4F4F4; text-decoration: none; font-weight: bold; padding: 2px 0px;">view it online</a></span>
</div> 
</td> <!-- CONTENT end --> 
<td class="padd" width="16" style="border-collapse: collapse; color: #EFEFEF; width: 16px; padding: 0;">&nbsp;</td> </tr>
<tr height="16" style="padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;"></td></tr>
</tbody></table>
</td> </tr>
<tr class="gap" height="8" style="line-height: 2px; font-size: 2px; height: 8px; padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;">&nbsp;</td></tr>
</tbody></table>
<!-- Quotation end --><!-- Full Size Image start --><table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody>
<tr style="padding: 0;">
<td valign="top" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> <!-- CONTENT start --> <img src="{1}" class="m-100" alt="" title="" style="max-width: 600px; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality; display: block;" border="0" width="600"><!-- CONTENT end -->
</td> </tr>
<tr class="gap" height="8" style="line-height: 2px; font-size: 2px; height: 8px; padding: 0;"><td style="border-collapse: collapse; color: #EFEFEF; padding: 0;">&nbsp;</td></tr>
</tbody></table>
<!-- Full Size Image end --><!-- 1/2 Column start --><table class="wrap" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody><tr style="padding: 0;">
<td align="center" valign="top" style="border-collapse: collapse; color: #EFEFEF; padding: 0;"> 
<table class="o-fix" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; font-family: Helvetica,Arial,sans-serif; font-size: 12px;"><tbody><tr style="padding: 0;">
<td align="left" valign="top" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #EFEFEF; padding: 0;"> 

<!-- CONTENT end --> </td> </tr></tbody></table>
</td> </tr></tbody></table>
</td> </tr></tbody></table>
</body>
</html>
